footer p {
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: 16.94px;
  text-align: center;
  padding: 1rem;
}

footer p a {
  transition: 0.3s ease;
}

footer p a:hover {
  font-weight: 700;
}
