@import url("./global.css");

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0.5rem 1rem;
}

.header__brand .brand__logo {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 200;
}

i {
  color: var(--icon-color);
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
}

#toggleTheme {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  align-items: center;

  background: var(--primary-bg-color);
}

.menu--mobile {
  justify-content: space-between;

  border-top: 1px solid var(--primary-border-color);
  padding: 0.5rem 1rem;
  width: 100%;

  position: fixed;
  bottom: 0;
}

.menu__item {
  width: 100%;
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.menu__link--active .menu__icon,
.menu__link--active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--primary-color);
  font-weight: 600;
}

.menu__icon,
.menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: 0.75rem;
  line-height: 14.52px;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

.menu--principal {
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .header {
    background: var(--primary-bg-color);
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 6rem;
    width: 100%;

    position: fixed;
  }

  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    padding: 1rem 15rem;
  }
}
